
<header class="navbar">
  <a href="/"><div class="logo"></div></a>
  <nav>
    <a href="#inicio">INICIO</a>
    <!-- <a [routerLink]="['/cursos']">CURSOS</a> -->
    <a [routerLink]="['/cursoDinamico']">CURSOS</a>
    <a href="#profesores">PROFESORES</a>
    <a href="#testimonios">TESTIMONIOS</a>
    <a href="#contacto">CONTACTO</a>
    <a [routerLink]="['/registro']">REGISTRARSE</a>
    <a [routerLink]="['/perfil']">PERFIL</a>
    <a href="#" (click)="cerrarSesion()">CERRAR SESÍON</a>
  </nav> 
</header>


<div class="revisar-contenido">
  <div class="acciones" *ngIf="tipoUsuario === 'docente'">
    <button class="boton" (click)="editarCurso()">Editar contenido</button>
    <button class="boton" (click)="subirMaterial()">Subir material</button>
    <button class="boton" (click)="verAlumnos()">Ver alumnos</button>
    <button class="boton" (click)="enviarMensaje()">Enviar mensaje grupal</button>
  </div>

  <h2 *ngIf="curso">{{ curso.nombre }}</h2>

  <div class="info-general">
    <p *ngIf="curso?.fechaInicio">Fecha Inicio Curso: {{ curso.fechaInicio }}</p>
    <p *ngIf="curso?.fechaFin">Fecha Fin Curso: {{ curso.fechaFin }}</p>
    <p *ngIf="!curso">No hay información del curso disponible.</p>
  </div>

  <div class="secciones-grid">
    <!-- Temario -->
    <section class="temario">
      <h3>📚 Temario</h3>
      <ul *ngIf="contenidoInfo?.length > 0; else sinTemario">
        <li *ngFor="let modulo of contenidoInfo">
          ✅ {{ modulo.modulo }}: {{ modulo.nombre }}
        </li>
      </ul>
      <ng-template #sinTemario>
        <p>No hay temario disponible.</p>
      </ng-template>
    </section>


    <!-- Agenda -->
    <section class="agenda">
      <h3>📆 Próxima clase</h3>
      <div *ngIf="curso?.proximaClase; else sinAgenda">
        <p>Fecha: {{ curso.proximaClase.fecha }}</p>
        <p>Tema: {{ curso.proximaClase.tema }}</p>
      </div>
      <ng-template #sinAgenda>
        <p>No hay próxima clase agendada.</p>
      </ng-template>
    </section>

    <!-- Materiales -->
    <section class="materiales">
      <h3>📂 Materiales</h3>
      <ul *ngIf="contenidoInfo?.length > 0; else sinMateriales">
        <li *ngFor="let modulo of contenidoInfo">
          📎 <a [href]="modulo.url" target="_blank">{{ modulo.nombre }}</a>
        </li>
      </ul>
      <ng-template #sinMateriales>
        <p>No hay materiales disponibles.</p>
      </ng-template>
    </section>


    <!-- Mensajes -->
    <section class="mensajes">
      <h3>💬 Mensajes recientes</h3>
      <ul *ngIf="curso?.mensajes?.length > 0; else sinMensajes">
        <li *ngFor="let mensaje of curso.mensajes">{{ mensaje }}</li>
      </ul>
      <ng-template #sinMensajes>
        <p>No hay mensajes recientes.</p>
      </ng-template>
    </section>
  </div>
</div>





