<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a [routerLink]="['/cursos']">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
      <a [routerLink]="['/registro']">REGISTRARSE</a>
    </nav> 
  </header>

<div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/carpinteria.png" alt="Curso de Carpintería">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Carpintería</h2>
        <p>Este curso de carpintería está diseñado para enseñar desde lo básico hasta lo avanzado. <br>Aprende a manejar las herramientas y técnicas más importantes para crear proyectos de carpintería con precisión y seguridad.</p>
        <ul>
          <li><strong>Duración:</strong> 3 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 10 de Junio</li>
          <li><strong>Valor:</strong> $3000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/diseno.png" alt="Curso de Diseño">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Diseño</h2>
        <p>Para aquellos interesados en desarrollar habilidades en la creación y desarrollo de proyectos visuales impactantes. Aprenderás las herramientas y técnicas esenciales para diseñar piezas gráficas para una amplia gama de medios, desde impresos hasta digitales.</p>
        <ul>
          <li><strong>Duración:</strong> 6 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 15 de Junio</li>
          <li><strong>Valor:</strong> $8000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/informatica.png" alt="Curso de Informática">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Informática</h2>
        <p>Dirigido a personas que desean aprender a utilizar las herramientas informáticas esenciales para la vida diaria, el trabajo y la educación. A través de este curso, adquirirás conocimientos fundamentales sobre el uso de la computadora, programas de oficina y navegación en internet, lo que te permitirá desenvolverte con confianza en un mundo digital.</p>
        <ul>
          <li><strong>Duración:</strong> 6 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 20 de Junio</li>
          <li><strong>Valor:</strong> $9.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/mecanica.png" alt="Curso de Mecánica">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Mecánica</h2>
        <p>Principios fundamentales de la reparación y mantenimiento de vehículos. Este curso te proporcionará las herramientas y conocimientos esenciales para entender el funcionamiento de los motores, los sistemas de transmisión, frenos, suspensión, y mucho más. Ya sea que busques aprender para uso personal o como base para una carrera en la mecánica, este curso es el primer paso hacia el mundo automotriz.</p>
        <ul>
          <li><strong>Duración:</strong> 8 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 25 de Junio</li>
          <li><strong>Valor:</strong> $15.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/oratoria.png" alt="Curso de Oratoria">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Oratoria</h2>
        <p>Mejora tus habilidades de comunicación y aprende a expresarse de manera efectiva frente a cualquier tipo de audiencia. A lo largo de este curso, desarrollarás herramientas y técnicas para hablar con claridad, seguridad y persuasión, ya sea en presentaciones profesionales, exposiciones académicas o situaciones cotidianas donde se requiere hablar en público.</p>
        <ul>
          <li><strong>Duración:</strong> 2 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 30 de Junio</li>
          <li><strong>Valor:</strong> $20.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/pintura.png" alt="Curso de Pintura">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Pintura</h2>
        <p>Dirigido a todas las personas que deseen iniciarse en el arte de pintar o perfeccionar sus habilidades artísticas. A través de un enfoque práctico y dinámico, aprenderás a expresarte mediante el color, la forma y la técnica, explorando distintos estilos y materiales.
            Durante el curso, desarrollarás tu creatividad, conocerás las bases del dibujo, el manejo del color y las técnicas esenciales para trabajar con acrílicos, óleos y acuarelas, adaptándote a tu propio estilo personal.</p>
        <ul>
          <li><strong>Duración:</strong> 5 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 10 de Agosto</li>
          <li><strong>Valor:</strong> $20.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  
<div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/administracion.png" alt="Curso de Administración">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Administración</h2>
        <p>Ofrece una formación práctica y actualizada para quienes buscan adquirir o perfeccionar habilidades en la gestión de organizaciones. Aprenderás a planificar, organizar, dirigir y controlar recursos de manera eficiente, desarrollando una visión estratégica que te permita liderar proyectos, empresas o emprendimientos exitosamente.
          Ideal para quienes desean fortalecer su perfil profesional, emprender o mejorar la gestión de sus negocios.</p>
        <ul>
          <li><strong>Duración:</strong> 6 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 15 de Agosto</li>
          <li><strong>Valor:</strong> $18.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  
<div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/caligrafia.png" alt="Curso de Caligrafía">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Caligrafía</h2>
        <p>Para introducirte en el mundo de la escritura artística, combinando técnica y creatividad. Aprenderás a dominar distintos estilos caligráficos, mejorar tu trazo, desarrollar precisión y expresar tu estilo personal a través de la letra escrita. Es ideal tanto para principiantes como para quienes buscan perfeccionar su técnica en proyectos creativos, diseño, invitaciones, arte y más.</p>
        <ul>
          <li><strong>Duración:</strong> 3 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 20 de Agosto</li>
          <li><strong>Valor:</strong> $12.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

  <div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/manicuria.png" alt="Curso de Manicuría">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Manicuría</h2>
        <p>Te formarás en las técnicas esenciales para el cuidado y embellecimiento de manos y uñas. Aprenderás desde los conceptos básicos de higiene y preparación hasta las últimas tendencias en esmaltado, decoración y tratamientos de spa para manos. Ideal para quienes desean iniciar su propio emprendimiento o perfeccionar sus habilidades en el mundo de la estética.</p>
        <ul>
          <li><strong>Duración:</strong> 5 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Fecha de Incio:</strong> 25 de Agosto</li>
          <li><strong>Valor:</strong> $15.000</li>
        </ul>
        <button (click)="irAInscripcion()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>
