<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a href="#cursos">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
    </nav> 
  </header>

<div class="curso-caligrafia">
    <div class="curso-caligrafia-contenido">
      <div class="curso-caligrafia-imagen">
        <img src="assets/img/caligrafia.png" alt="Curso de Caligrafía">
      </div>
      <div class="curso-caligrafia-info">
        <h2>Curso de Caligrafía</h2>
        <p>Para introducirte en el mundo de la escritura artística, combinando técnica y creatividad. Aprenderás a dominar distintos estilos caligráficos, mejorar tu trazo, desarrollar precisión y expresar tu estilo personal a través de la letra escrita. Es ideal tanto para principiantes como para quienes buscan perfeccionar su técnica en proyectos creativos, diseño, invitaciones, arte y más.</p>
        <ul>
          <li><strong>Duración:</strong> 3 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Valor:</strong> $12.000</li>
        </ul>
        <button (click)="inscribir()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>