
 <header class="navbar">
  <a href="/"><div class="logo"></div></a>
  <nav>
    <a href="#inicio">INICIO</a>
    <a [routerLink]="['/cursos']">CURSOS</a>
    <a href="#profesores">PROFESORES</a>
    <a href="#testimonios">TESTIMONIOS</a>
    <a href="#contacto">CONTACTO</a>
    <a [routerLink]="['/registro']">REGISTRARSE</a>
    <a [routerLink]="['/perfil']">PERFIL</a>
    <a href="#" (click)="cerrarSesion()">CERRAR SESÍON</a>
  </nav> 
</header>

<div *ngFor="let curso of cursos" class="curso-carpinteria">
  <div class="curso-carpinteria-contenido">
    <div class="curso-carpinteria-imagen">
      <img [src]="curso.foto || 'assets/img/default.png'" [alt]="curso.nombre_curso">
    </div>
    <div class="curso-carpinteria-info">
      <h2>{{ curso.nombre_curso }}</h2>
      <p>{{ curso.descripcion }}</p>
      <ul>
        <li><strong>Duración:</strong> {{ curso.duracion }} meses</li>
        <li><strong>Modalidad:</strong> {{ curso.tipo }}</li>
        <li><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio | date:'longDate' }}</li>
        <li><strong>Valor: $</strong>{{ curso.costo }}</li>
      </ul>
      <button (click)="irAInscripcion()">Inscribirse</button>
    </div>
  </div>
</div>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>

