<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a href="#cursos">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
    </nav> 
  </header>

<div class="curso-mecanica">
    <div class="curso-mecanica-contenido">
      <div class="curso-mecanica-imagen">
        <img src="assets/img/mecanica.png" alt="Curso de Mecánica">
      </div>
      <div class="curso-mecanica-info">
        <h2>Curso de Mecánica</h2>
        <p>Principios fundamentales de la reparación y mantenimiento de vehículos. Este curso te proporcionará las herramientas y conocimientos esenciales para entender el funcionamiento de los motores, los sistemas de transmisión, frenos, suspensión, y mucho más. Ya sea que busques aprender para uso personal o como base para una carrera en la mecánica, este curso es el primer paso hacia el mundo automotriz.</p>
        <ul>
          <li><strong>Duración:</strong> 8 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Valor:</strong> $15.000</li>
        </ul>
        <button (click)="inscribir()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>