<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a href="#cursos">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
    </nav> 
  </header>

<div class="curso-carpinteria">
    <div class="curso-carpinteria-contenido">
      <div class="curso-carpinteria-imagen">
        <img src="assets/img/carpinteria.png" alt="Curso de Carpintería">
      </div>
      <div class="curso-carpinteria-info">
        <h2>Curso de Carpintería</h2>
        <p>Este curso de carpintería está diseñado para enseñar desde lo básico hasta lo avanzado. <br>Aprende a manejar las herramientas y técnicas más importantes para crear proyectos de carpintería con precisión y seguridad.</p>
        <ul>
          <li><strong>Duración:</strong> 3 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Valor:</strong> $3000</li>
        </ul>
        <button (click)="inscribir()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>

  