<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a href="#cursos">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
    </nav> 
  </header>

<div class="curso-informatica">
    <div class="curso-informatica-contenido">
      <div class="curso-informatica-imagen">
        <img src="assets/img/informatica.png" alt="Curso de Informática">
      </div>
      <div class="curso-informatica-info">
        <h2>Curso de Informática</h2>
        <p>Dirigido a personas que desean aprender a utilizar las herramientas informáticas esenciales para la vida diaria, el trabajo y la educación. A través de este curso, adquirirás conocimientos fundamentales sobre el uso de la computadora, programas de oficina y navegación en internet, lo que te permitirá desenvolverte con confianza en un mundo digital.</p>
        <ul>
          <li><strong>Duración:</strong> 6 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Valor:</strong> $9.000</li>
        </ul>
        <button (click)="inscribir()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>