
<header class="navbar">
  <a href="/"><div class="logo"></div></a>

  <input type="checkbox" id="menu-toggle">
  
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <nav class="nav-links">
    <a href="#inicio">INICIO</a>
    <!-- <a [routerLink]="['/cursos']">CURSOS</a> -->
    <a [routerLink]="['/cursoDinamico']">CURSOS</a>
    <a href="#profesores">PROFESORES</a>
    <a href="#testimonios">TESTIMONIOS</a>
    <a href="#contacto">CONTACTO</a>
    <a [routerLink]="['/registro']">REGISTRARSE</a>
    <a [routerLink]="['/perfil']">PERFIL</a>
    <a href="#" (click)="cerrarSesion()">CERRAR SESIÓN</a>
  </nav> 
</header>

   <div class="tablero">

  <!-- ENCABEZADO -->
  <div class="encabezado">
    <div class="perfil">
      <img src="/assets/img/sinfoto.png" alt="Foto del profesor" class="avatar" />
      <div>
        <h2 class="titulo">Bienvenido</h2>
        <p class="subtitulo">{{ docente.nombre }} {{ docente.apellido }}</p>
      </div>
    </div>

    <div class="acciones">
      <button [routerLink]="['/cursoDinamico']" class="boton">Cursos</button>
      <button (click)="verAlumnos()" class="boton">Alumnos</button>
      <button (click)="verPerfil()" class="boton">Editar perfil</button>
      <button class="boton" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>

  <!-- RESUMEN -->
  <div class="resumen">
    <h3 class="subtitulo">RESUMEN GENERAL</h3>
    <ul class="lista">
      <li>Cursos asignados: <span class="negrita">{{ cursosAsignados.length }}</span></li>
      <li>Alumnos inscritos: <span class="negrita">{{ totalAlumnos }}</span></li>
      <li>Próxima clase: <span class="negrita">{{ proximaClase }}</span></li>
    </ul>
  </div>

  <!-- MIS CURSOS -->
  <div class="mis-cursos" *ngIf="cursosAsignados.length > 0">
    <h3 class="subtitulo">MIS CURSOS</h3>
    <div class="cursos">
      <div class="curso" *ngFor="let curso of cursosAsignados">
        <h4 class="curso-titulo">Curso: {{ curso.nombre_curso }}</h4>
        <p>Modalidad: {{ curso.tipo }}</p>
        <p>Alumnos: {{ curso.alumnos || 0 }}</p>
        <button (click)="verCurso(curso.id_curso)" class="boton">Ver detalles</button>
      </div>
    </div>
  </div>
    <!-- MIS CURSOS -->
  <div class="mis-cursos" *ngIf="cursosAsignados.length === 0">
    <h3 class="subtitulo">MIS CURSOS</h3>
    <div class="cursos">
      No tienes cursos asignados
    </div>
  </div>


  <div class="mensajes">
    <h3 class="subtitulo">MENSAJES RECIENTES</h3>
    <ul class="lista-mensajes">
      <li class="mensaje" *ngFor="let mensaje of mensajes">{{ mensaje }}</li>
    </ul>
  </div>

</div>

<form [formGroup]="cursoForm" (ngSubmit)="crearCurso()">
  <h3>Formulario para Crear Curso </h3>
  <label for="nombre_curso">Nombre del Curso:</label>
  <input id="nombre_curso" formControlName="nombre_curso" required>
  <div *ngIf="cursoForm.get('nombre_curso')?.invalid && (cursoForm.get('nombre_curso')?.touched || cursoForm.get('nombre_curso')?.dirty)">
    <small class="error">El nombre del curso es obligatorio.</small>
  </div>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" formControlName="descripcion"></textarea>

  <label for="duracion">Duración:</label>
  <input id="duracion" type="number" formControlName="duracion" placeholder="cantidad de meses">
  <div *ngIf="cursoForm.get('duracion')?.invalid && (cursoForm.get('duracion')?.touched || cursoForm.get('duracion')?.dirty)">
    <small class="error">La duración debe ser un número válido.</small>
  </div>

  <label for="tipo">Tipo:</label>
  <select id="tipo" formControlName="tipo" required>
    <option value="">Seleccione un tipo</option>
    <option value="gratuito">Gratuito</option>
    <option value="arancelado">Arancelado</option>
    <option value="capacitacion">Capacitación</option>
  </select>
  <div *ngIf="cursoForm.get('tipo')?.invalid && (cursoForm.get('tipo')?.touched || cursoForm.get('tipo')?.dirty)">
    <small class="error">El tipo es obligatorio.</small>
  </div>

  <label for="costo">Costo:</label>
  <input id="costo" type="number" formControlName="costo">

  <label for="fecha_inicio">Fecha de Inicio:</label>
  <input id="fecha_inicio" type="date" formControlName="fecha_inicio">

  <label for="fecha_fin">Fecha de Fin:</label>
  <input id="fecha_fin" type="date" formControlName="fecha_fin">

  <label for="foto">Foto:</label>
  <input id="foto" type="file" (change)="onFileChange($event)" accept="image/*">
  
  <br>
  <button type="submit" [disabled]="cursoForm.invalid" class="boton" >Crear Curso</button>
</form>


<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>
