<header class="navbar">
    <a href="/"><div class="logo"></div></a>
    <nav>
      <a href="#inicio">INICIO</a>
      <a href="#cursos">CURSOS</a>
      <a href="#profesores">PROFESORES</a>
      <a href="#testimonios">TESTIMONIOS</a>
      <a href="#contacto">CONTACTO</a>
    </nav> 
  </header>

<div class="curso-pintura">
    <div class="curso-pintura-contenido">
      <div class="curso-pintura-imagen">
        <img src="assets/img/pintura.png" alt="Curso de Pintura">
      </div>
      <div class="curso-pintura-info">
        <h2>Curso de Pintura</h2>
        <p>Dirigido a todas las personas que deseen iniciarse en el arte de pintar o perfeccionar sus habilidades artísticas. A través de un enfoque práctico y dinámico, aprenderás a expresarte mediante el color, la forma y la técnica, explorando distintos estilos y materiales.
            Durante el curso, desarrollarás tu creatividad, conocerás las bases del dibujo, el manejo del color y las técnicas esenciales para trabajar con acrílicos, óleos y acuarelas, adaptándote a tu propio estilo personal.</p>
        <ul>
          <li><strong>Duración:</strong> 5 meses</li>
          <li><strong>Modalidad:</strong> Presencial</li>
          <li><strong>Valor:</strong> $20.000</li>
        </ul>
        <button (click)="inscribir()">Inscribirse</button>
      </div>
    </div>
  </div>

  <br>

<footer id="footer" class="footer">
  <div class="footer-content">
    <p>&copy; 2025 IncubadoraNOC. Todos los derechos reservados.</p>
  </div>
</footer>