  
<header class="navbar">
  <a href="/"><div class="logo"></div></a>
  <nav>
    <a href="#inicio">INICIO</a>
    <!-- <a [routerLink]="['/cursos']">CURSOS</a> -->
    <a [routerLink]="['/cursoDinamico']">CURSOS</a>
    <a href="#profesores">PROFESORES</a>
    <a href="#testimonios">TESTIMONIOS</a>
    <a href="#contacto">CONTACTO</a>
    <a [routerLink]="['/registro']">REGISTRARSE</a>
    <a [routerLink]="['/perfil']">PERFIL</a>
    <a href="#" (click)="cerrarSesion()">CERRAR SESÍON</a>
  </nav> 
</header>



  <!-- Destacado -->
  <section id="inicio" class="hero">
    <div class="hero-text"> 
      <h1>BIENVENIDO/A</h1>
      <p>Te invitamos a comenzar hoy a transformar tu futuro</p>
      <br>
    
      <button (click)="irAlAcceso()">INICIAR SESIÓN</button>

    </div>
  </section>
  
  <!-- Cursos -->
  <section id="cursos" class="cursos fade-in"> 
    <h2>CURSOS DISPONIBLES</h2>
    <br>
    <div class="curso-lista">
      <button class="curso" (click)="irACarpinteria()">Curso de Carpintería</button>
      <button class="curso" (click)="irADiseno()">Curso de Diseño</button>
      <button class="curso" (click)="irAInformatica()" >Curso de Informática</button>
      <button class="curso" (click)="irAMecanica()">Curso de Mecánica</button>
      <button class="curso" (click)="irAOratoria()">Curso de Oratoria</button>
      <button class="curso" (click)="irAPintura()">Curso de Pintura</button>
      <button class="curso" (click)="irAAdministracion()">Curso de Administración</button>
      <button class="curso" (click)="irACaligrafia()">Curso de Caligrafía</button>
      <button class="curso" (click)="irAManicuria()">Curso de Manicuría</button>
    </div>
  </section>

  <section class="logo-slider">
    <h2>EMPRESAS ASOCIADAS</h2>
    <br>
    <div class="logo-track">
      <div class="logo-slide"><img src="assets/img/empresa1.png" alt="Empresa 1"></div>
      <div class="logo-slide"><img src="assets/img/empresa2.png" alt="Empresa 2"></div>
      <div class="logo-slide"><img src="assets/img/empresa3.png" alt="Empresa 3"></div>
      <div class="logo-slide"><img src="assets/img/empresa4.png" alt="Empresa 4"></div>
      <div class="logo-slide"><img src="assets/img/empresa5.png" alt="Empresa 5"></div>
      <div class="logo-slide"><img src="assets/img/empresa6.png" alt="Empresa 6"></div>
      <!-- Se repite para que tenga un efecto infinito -->
      <div class="logo-slide"><img src="assets/img/empresa1.png" alt="Empresa 1"></div>
      <div class="logo-slide"><img src="assets/img/empresa2.png" alt="Empresa 2"></div>
      <div class="logo-slide"><img src="assets/img/empresa3.png" alt="Empresa 3"></div>
      <div class="logo-slide"><img src="assets/img/empresa4.png" alt="Empresa 4"></div>
      <div class="logo-slide"><img src="assets/img/empresa5.png" alt="Empresa 5"></div>
      <div class="logo-slide"><img src="assets/img/empresa6.png" alt="Empresa 6"></div>
    </div>
  </section>
  
  <!-- Testimonios -->
  <section id="testimonios" class="testimonios fade-in">
    <div class="testimonios">
    <h2>NUESTROS ESTUDIANTES DICEN...</h2>
    <br>
    <div class="testimonio-oración">
      <p>"Me encantó la experiencia. Aprendí muchísimo." - Analía</p>
    </div>
    <div class="testimonio-oración">
      <p>"Los cursos son súper prácticos y profesionales." - Marcos</p>
    </div>
    <div class="testimonio-oración">
      <p>"Lo recomiendo. Los profesores son los mejores." - Susana</p>
    </div>
  </div>
  </section>

   <!-- Profesores -->
<section id="profesores" class="profesores"> 
  <h2>PROFESORES</h2>
<br>
<div class="profesores-lista">
  <div class="profesor">
    <img src="/assets/img/profesor1.png" alt="Profesor 1">
    <p>María López</p>
  </div>
  <div class="profesor">
    <img src="/assets/img/profesor2.png" alt="Profesor 2">
    <p>Juan Pérez</p>
  </div>
  <div class="profesor">
    <img src="/assets/img/profesor3.png" alt="Profesor 3">
    <p>Lucía Fernández</p>
  </div>
</div>
</section>

  <!-- Pie de página / Footer -->
  <footer id="contacto" class="footer">
    <div class="contacto">
      <p>Dirección: Cruz del Eje - Mitre 757 | Teléfono: 351487678</p>

      <div class="social-icons">
        <a href="https://accounts.google.com/signin" target="_blank" class="social-icon">
          <i class="fab fa-google"></i> <!-- Icono de Gmail -->
        </a>
        <a href="https://www.facebook.com/login" target="_blank" class="social-icon">
          <i class="fab fa-facebook"></i> <!-- Icono de Facebook -->
        </a>
        <a href="https://www.instagram.com/accounts/login/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
        </a>
      </div>
    </div>
  </footer>
  